<%- include('parts/top.ejs')%>
<br><br><br><br><br><br><br>
<div class="container">
    <form method="POST" action="/register">
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="text" id="form2Example1" name="name" class="form-control" placeholder="Name" />
          </div>
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="form2Example1" name="email" class="form-control" placeholder="Email address" />
        </div>
      
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" id="form2Example2" class="form-control" name="password" placeholder="Password" />
          <label class="form-label" for="form2Example2"></label>
        </div>
      
        <!-- 2 column grid layout for inline styling -->
        <% if (message) { %>
          <div class="alert alert-danger">
            <%= message %>
           </div>
           <%}%>
        <!-- Submit button -->
        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
      
        <!-- Register buttons -->
      </form>
</div>

<%- include('parts/footer.ejs')%>
